@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* #### Framework #### */

html,
body {
  height: 100%;
  background: linear-gradient(to right, #b2f7b2, #ffffff);
}
/*
.max-width {
  width: 100%;
  min-height: auto;
} */

/* .bg {
  background: url("image/bg-2.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
} */

/* .bg2 {
  background: url("image/bg-4.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
} */

.container {
  max-width: 1680px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.text-gd {
  font-size: 50px;
}

.text-md {
  font-size: 60px;
}

.text-pq {
  position: relative;
  font-size: 21px;
  margin-bottom: 20px;
  font-weight: bold;
}

.text-title {
  font-size: 20px;
  font-weight: 600;
}

.color-azul {
  color: #1b3b56;
}

.color-azul-1 {
  color: #5271ff;
}

.color-cinza-2 {
  color: #545454;
}

.call {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.left {
  width: 50%;
  min-height: 600px;
  max-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2%;
}

.right {
  width: 50%;
  min-height: 600px;
  max-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2%;
}

.square {
  width: 95%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
}

img {
  width: 100%;
  object-fit: contain;
}

button {
  padding: 10px 20px;
  background: #1b3b56;
  color: #fff;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 0.8s ease;
  margin-bottom: 20px;
  margin-right: 20px;
}

button:hover {
  border: 1px solid #8b634a;
  background: #8b634a;
  color: #fff;
  transform: scale(1.1);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0 2%;
  width: 100%;
  min-height: 800px;
}

.titulo {
  width: 100%;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 40px;
  text-shadow: 0 0 10px #545454;
  color: #2b2b2b;
}
.line {
  width: 80%;
  height: 2px;
  background: #17203f;
  position: relative;
  top: 40px;
}

.text-titulo {
  position: relative;
  top: -10px;
  z-index: 99;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  font-size: 20px;
  background: #8b634a;
  color: #fff;
}

.down {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 300px;
}

.box {
  width: 25%;
  min-height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2%;
  transition: 0.5s ease;
}

.info {
  display: flex;
}

.menu {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
  background: rgb(10, 77, 10);
}
/*
.logo {
  background: url("image/logo-roupa.png") no-repeat;
  background-size: contain;
  width: 130px;
  height: 80px;
  position: relative;
  top: 20px;
  z-index: 9;
} */
/*
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #2b2b2b;
  border-radius: 20px;
  border: 1px solid #fff;
} */

/* #### desktop-menu #### */

.desktop-menu ul {
  display: flex;
}

.desktop-menu ul li {
  padding: 0 25px;
  list-style-type: none;
}

.desktop-menu ul li a {
  color: #f7f7f9;
  text-shadow: 0 0 5px #848790;
  font-size: 23px;
  font-weight: 300;
  text-decoration: none;
  transition: 0.8s ease;
}

.desktop-menu ul li a:hover {
  color: #96c4a3;
  text-shadow: 0 0 5px #0540f2;
  font-weight: 400;
  text-decoration: underline;
}

/* #### mobile-menu #### */

/* #### desktop-menu #### */

.desktop-menu {
  display: block;
}

.mobile-menu {
  display: none;
  width: 100%;
  background: #c3bcb7;
  position: relative;
  text-align: right; /* Alinha o conteúdo à direita */
}

.menu-icon {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  position: absolute; /* Posiciona o ícone de forma absoluta */
  right: 10px; /* Alinha o ícone à direita */
  top: -25px; /* Ajusta a posição vertical */
  z-index: 10; /* Garante que o ícone fique acima do menu */
}

.menu-icon div {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Animação do ícone de hambúrguer para "X" */
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

#myLinks {
  display: block; /* Exibe o menu */
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  background-color: #f6f8f6;
  position: absolute;
  top: 40px; /* Ajuste conforme necessário */
  width: 100%;
  z-index: 1; /* Certifica que o menu fique abaixo do ícone */
  max-height: 0; /* Altura inicial zero para transição */
  overflow: hidden; /* Oculta o conteúdo enquanto desliza */
  transition: max-height 0.5s ease-out; /* Transição suave */
  opacity: 0.9;
}

#myLinks.show {
  max-height: 500px; /* Altura máxima quando aberto (ajuste conforme necessário) */
}

#myLinks li {
  list-style-type: none;
  padding: 10px 0;
}

#myLinks li a {
  text-decoration: none;
  font-weight: 600;
  color: #17203f;
  text-shadow: 0 0 5px #848790;
}

#myLinks li a:hover {
  color: #1b3a24;
  text-shadow: 0 0 5px #49b3ec;
  font-weight: 500;
  text-decoration: underline;
}

/* Exibição da mobile-menu e ocultação da desktop-menu no mobile */
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

/* #### Fim do Framework #### */

/* #### Header #### */

header .container {
  flex-direction: column;
  justify-content: flex-start;
}

header .left {
  flex-direction: column;
  align-items: flex-start;
}

header .left h1 {
  text-align: start;
  font-weight: 400;
  text-shadow: 0 0 5px #848790;
  padding: 0 40px;
}

header .left p {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  text-align: start;
  letter-spacing: 2px;
  text-shadow: 0 0 5px #848790;
  margin-top: 60px;
  padding: 0 40px;
}

header button {
  margin-top: 60px;
  margin-left: 40px;
}

header .right .imagem {
  width: 78%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: 1s ease;
  box-shadow: 10px 5px 5px rgb(99, 175, 97);
  border-radius: 20px;
}

header .right .imagem img {
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
}

/* #### Fim do Header #### */
section {
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}
/* #### About #### */

#About .container {
  flex-direction: column;
  align-items: flex-start;
}

#About .titulo h2 {
  font-family: "Montserrat Alternates", sans-serif;
}

#About .box {
  box-shadow: 0 5px 20px #2b2b2b;
  background: transparent;
  margin-bottom: 120px;
}

#About .box .text {
  margin-right: 80px;
}

#About .box .text i {
  position: relative;
  bottom: 35px;
  left: 180px;
  font-size: 20px;
}

#About .box img {
  width: 100%;
}

#About .box h2 {
  margin-top: 40px;
  text-align: start;
  font-weight: 300;
}

#About .box p,
span {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: start;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-style: italic;
}

/* #### Fim do About #### */

/* #### Service #### */

#Service .titulo h2 {
  font-family: "Montserrat Alternates", sans-serif;
}

#Service .box {
  width: 80%;
  background: #fff;
}

#Service .box img {
  width: 300px;
  height: 500px;
  object-fit: contain;
}

#Service .box h2 {
  margin-top: 20px;
  text-align: center;
}

#Service .box p {
  margin-top: 20px;
  text-align: center;
}

#Service .container input[type="radio"] {
  display: none;
}
#Service .container .card {
  position: absolute;
  width: 42%;
  height: 80%;
  top: -60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 0 20px 0 #848790;
  transition: 0.4s ease;
  cursor: pointer;
  background: white;
}
#Service .container .card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*
#Service .container .card button {
  position: absolute;
  bottom: 10px;
  z-index: 9;
  text-transform: uppercase;
  cursor: pointer;
} */

#Service .container .cards {
  position: relative;
  width: 80%;
  height: 80vh;
}
#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translateX(-100%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translateX(100%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

/* #### Fim do Service #### */

/* #### Contact #### */

#Contact .container {
  flex-direction: column;
  height: 90vh;
}

#Contact .container .titulo {
  min-height: 0;
  margin-bottom: 90px;
}

#Contact .container .left {
  box-shadow: 0 0 15px #848790;
  margin: 5%;
}

#Contact .container .left .box {
  width: 100%;
  height: 90vh;
  background: #b7c3b7;
  border-radius: 20px;
}

#Contact .container .left .box h1 {
  margin-bottom: 50px;
  margin-top: 45px;
  color: #1b3b56;
}

#Contact .container .left .box form {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
}

#Contact .container .left .box form input,
textarea {
  padding: 10px;
  margin-top: 15px;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 20px;
}

#Contact .container .left .box .social {
  color: #1b3b56;
  font-size: 32px;
}

#Contact .container .left .box .social i {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

#Contact .container .left .box .social i:hover {
  color: #4a8b4f;
}

#Contact .container .left .box form input[type="submit"] {
  background: #1b3b56;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 80px;
  border-radius: 20px;
}

#Contact .container .left .box form input[type="submit"]:hover {
  background: #4a8b60;
}

#Contact .container .right .box {
  width: 100%;
  height: 90vh;
  background: #b7c3b7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

#Contact .container .right .box .icons {
  width: 150px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

#Contact .container .right .box .icons i {
  padding: 20px 0;
  font-size: 38px;
  color: #1b3b56;
  padding-top: 2px;
}

#Contact .container .right .box .text {
  width: 150px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

#Contact .container .right .box .text p {
  padding: 25px 0;
  font-size: 20px;
  font-weight: 600;
  color: #1b3b56;
  margin-top: -15px;
}

#Contact .container .right .box h1 {
  margin-bottom: 108px;
  margin-top: 10px;
  color: #1b3b56;
}

#Contact .container .right {
  box-shadow: 0 0 15px #848790;
  margin: 5%;
}

#Contact .titulo h2 {
  font-family: "Montserrat Alternates", sans-serif;
}

#Contact .content {
  flex-direction: row;
}

/* #### Fim do Contact #### */

/* #### footer #### */

footer .container {
  width: 100%;
  min-height: 80px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background: #c3bcb7;
  margin-top: 80px;
}

footer .container img {
  position: absolute;
  width: 120px;
  object-fit: contain;
}

footer .container p {
  font-weight: 600;
  color: #1b3b56;
  font-family: "Montserrat Alternates", sans-serif;
}

/* #### Fim do footer #### */

/* #### Responsivo #### */

@media screen and (max-width: 922px) {
  .text-gd {
    font-size: 24px;
  }

  .text-md {
    font-size: 60px;
    margin-top: 10px;
  }

  .w50 {
    margin-top: -180px;
  }

  .w51 {
    margin-top: -150px;
  }

  .ctto {
    margin-top: -280px;
  }

  .text-pq {
    font-size: 17px;
  }

  .text-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 740px) {
  .desktop-menu ul {
    display: none;
  }

  .text-gd {
    font-size: 42px;
  }

  .text-title {
    font-size: 16px;
  }

  .mobile-menu ul {
    display: block;
  }

  header .right .imagem {
    width: 100%;
  }

  .titulo {
    min-height: 150px;
  }

  .down {
    justify-content: space-between;
    flex-direction: column;
    min-height: 600px;
  }

  .box {
    margin-top: 50px;
    width: 80%;
  }

  #About .box img {
    width: 90%;
    margin-top: 20px;
  }

  #Menu .box h2 {
    margin-top: 10px;
  }

  #Menu .box p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #fff;
  }

  .mobile-menu {
    display: block;
  }

  #Contact .right img {
    margin-top: 60px;
  }

  footer .container {
    justify-content: space-evenly;
    flex-direction: column;
    height: 80px;
    margin-top: 200px;
  }
  footer .container p {
    margin-top: 20px;
  }
}

@media screen and (max-width: 648px) {
  .left {
    width: 100%;
    min-height: auto;
    padding: 0 2%;
  }

  .right {
    width: 100%;
    min-height: auto;
    padding: 0 2%;
    margin-top: -60px;
  }

  .logo {
    width: 110px;
    top: 10px;
    left: 5px;
  }

  img {
    width: 90%;
  }

  .call {
    flex-direction: column;
    justify-content: flex-start;
  }

  header .left {
    margin-top: -100px;
  }

  header .right .imagem {
    width: 60%;
  }

  #About .right {
    margin-top: 80px;
  }

  #About .right img {
    width: 60%;
  }

  #Service .container .card {
    width: 80%;
    height: auto;
    top: -210px;
  }

  #item-1:checked ~ .cards #song-3,
  #item-2:checked ~ .cards #song-1,
  #item-3:checked ~ .cards #song-2 {
    transform: translateY(-0%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
  }

  #item-1:checked ~ .cards #song-2,
  #item-2:checked ~ .cards #song-3,
  #item-3:checked ~ .cards #song-1 {
    transform: translateY(25%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
  }

  #Contact .content {
    flex-direction: column;
    margin-top: 50px;
  }

  #Contact .container .left {
    height: 50vh;
    width: 400px;
    margin-top: -100px;
  }

  #Contact .container .right {
    margin-top: 50px;
    width: 400px;
    height: 50vh;
  }

  #Contact .container .left .box {
    width: 80%;
    height: 44vh;
    margin: -150px;
    border-radius: 20px;
  }

  #Contact .container .right .box {
    width: 80%;
    height: 44vh;
    border-radius: 20px;
  }

  #Contact .container .left .box h1 {
    font-size: 18px;
    margin-top: 30px;
  }

  #Contact .container .left .box form {
    width: 90%;
  }

  #Contact .container .left .box input[type="text"],
  #Contact .container .left .box input[type="email"],
  #Contact .container .left .box textarea[type="mensagem"],
  #Contact .container .left .box input[type="submit"] {
    margin-top: 20px;
    font-size: 10px;
    border-radius: 10px;
  }

  #Contact .container .left .box .social {
    margin-bottom: 10px;
  }

  #Contact .container .left .box i {
    font-size: 22px;
  }

  #Contact .container .right .box {
    width: 80%;
    height: 35vh;
    justify-content: flex-start;
  }

  #Contact .container .right .box h1 {
    font-size: 18px;
    margin-top: -50px;
  }

  #Contact .container .right .box .icons {
    width: 100px;
    height: 100px;
  }

  #Contact .container .right .box .icons i {
    font-size: 22px;
    margin-top: -20px;
    padding-top: 20px;
    text-align: center;
  }

  #Contact .container .right .box .text {
    height: 100px;
  }

  #Contact .container .right .box .text p {
    font-size: 16px;
    margin-top: -35px;
    padding-top: 31px;
    text-align: center;
  }
}

@media screen and (max-width: 428px) {
  header .right .imagem {
    width: 80%;
  }
}

/* SETA PARA CIMA */

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 50px;
  height: 50px;
  background-color: rgb(32, 218, 184);
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  border-radius: 50%;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.3s;
  z-index: 1000;
}

.back-to-top {
  -webkit-tap-highlight-color: transparent; /* Remove o flash azul em dispositivos Android */
  outline: none; /* Remove o contorno de foco */
}

.back-to-top:hover {
  opacity: 1;
}
